/* Add this to your main.css */
html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
}
 
#contact form{
    display: flex;
    flex-direction: column;
    gap: 10;
    margin: 20px;
}  

#contact input, #contact textarea{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#contact button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact button:hover {
    background-color: #555;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #333;
  }
  nav ul li {
    padding: 15px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  nav ul li a:hover {
    color: #04A3ED;
  }  

  body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background: #eee;
    margin: 0;
    font-size: 16px;
  }    

header {
    background-color: #0047AB;
    color: #fff;
    padding: 20px 0;
    padding-left: 20px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

section {
    margin: 20px 0;
}

h2 {
    color: #333;
}

p {
    font-size: 1.2em;
}

/* Add to your main.css */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.3s; /* Adjust timing as needed */
}

/* Ensure each section only plays the animation once it's close to entering the viewport */
section:in-viewport {
    opacity: 1; /* For browsers that do not support animations */
}

/* Add to your main.css */
.feature-icon {
    transition: transform 0.3s ease;
}

.feature-icon:hover {
    transform: rotate(360deg); /* Complete a full rotation */
}


/* Responsive Styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    .hero h2 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 1em;
    }
}

/* Add to your main.css */
.cta-btn {
    font-size: 1.2em;
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.cta-btn:hover {
    background-color: #ddd;
    transform: scale(1.05); /* Slightly enlarge the button */
}
